.navPopup {
    display: none;
    position: fixed;
    top: 0;
    right:0;
    bottom:0;
    min-width: 520px;
    background: #202020;
    z-index: 10;
    padding: 159px 0 90px;
}

.navPopup_active {
    display: block;
}

.navPopup_btn {
    font-size: 34px;
    top: 30px;
    right: 30px;
    position: absolute;
    z-index: 11;
    border: none;
    background: transparent;
    color: #fff;
}

@media screen and (max-width: 520px) {
    .navPopup {
        min-width: 100%;
    }
}

@media screen and (max-width: 320px) {
    .navPopup {
        padding: 144px 0 56px;
    }

    .navPopup_btn {
        top: 13px;
        right: 13px;
    }
}