.App {
    position: relative;
    background: #202020;
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 400;
    color: #fff;
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}